@model CatShelter.Data.Cat

@{
    ViewData["Title"] = "Delete";
}

<h1>Изтриване</h1>

<h3>Сигурни ли сте, че искате да изтриете този запис?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Age)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Age) година/и
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Color)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Color)
        </dd>
        <dt class = "col-sm-2">
            Порода
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Breeds.BreedName)
        </dd>
        <dt class = "col-sm-2">
            Ваксина
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Vaccines.Name)
        </dd>
        <dt class = "col-sm-2">
            Клетка
        </dt>
        <dd class = "col-sm-10">
            № @Html.DisplayFor(model => model.Cages.CageNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImageURL)
        </dt>
        <dd class = "col-sm-10">
            <img src="@Html.DisplayFor(model => model.ImageURL)" style="max-width: 200px; height: auto" />
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date) на промяна
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index" type="submit" class="btn btn-primary">Back to List</a>
    </form>
</div>
