@model IEnumerable<CatShelter.Data.Cage>

@{
    ViewData["Title"] = "Index";
}

<p>
    <center><a asp-action="Create" class="btn btn-primary">Добавяне на нова клетка</a></center>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Номер на клетка
            </th>
            <th>
                Дата
            </th>
            <th>
                Описание
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CageNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                @if (User.IsInRole("Admin"))
                {
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">Редактиране</a> |
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary">Информация</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Изтриване</a>
                    </td>
                }

            </tr>
        }
    </tbody>
</table>
